@{
    Layout = null;
    ViewBag.Title = "MainMenu";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/MainMenu.css" />
    <script>
        var elephant = new Audio();
        elephant.src = "../Audio/Elephant.mp3";
        var lion = new Audio();
        lion.src = "../Audio/Lion_Roar.mp3";
    </script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <audio source src="../Audio/bensound-sunny.mp3" autoplay>
        <embed src="../Audio/bensound-sunny.mp3" width="180" height="90" hidden="hidden" />
    </audio>
    <h2>Main Menu</h2>
    <nav id="mainMenuNav">
        <ul id="navLinks">
            <li>
                <a href="@Url.Action("Play", "Play")" onmouseover="elephant.play()">Play</a>
            </li>
            <li>
                @Html.ActionLink("Options", "Options", "Options")
            <li />
            <li>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Sanctuary", "AnimalSanctuary")" onmouseover="lion.play()">Animal Sanctuary</a>
                }
            <li />
        </ul>
    </nav>
</body>
</html>