<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="manifest" href="~/scripts/Manifest.json">
    <script>
	  var start = function() {
	      screen.orientation.lock('landscape-primary').catch(function () { });
	  }
	  window.onload = start;
    </script>
    <style>
        html {
             height: 100%;
             background-color: forestgreen;
        }

        body {
            border-style: solid;
            border-width: 10px;
            border-color: orange;
            height: 95%;
        }

        h1 {
            text-align: center;
            margin-top: 10%;
            color: floralwhite;
            text-shadow: 1px 1px #000;
        }

        img {
            display: block;
            margin: auto;
            width: 15%;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>

