<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/Login.css" rel="stylesheet" type="text/css" />
    <link rel="manifest" href="~/scripts/Manifest.json">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
