html{
    background-color: #6C648B;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
	background-color: #6C648B;
	margin: auto;
    width: 100%;
    height: 100%;
    /* new body attribute in play CSS sets these two values so I am over writing the values here */
    min-height: 0px;
    min-width: 0px;
}

#header{
    margin-top: 1%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
    cursor: default;
}

#canvas{
	background-color: #A7D2CB;
	width: 80%;
	margin-top: 1%;
	padding: 0;
	margin-left: 5%;
	display: block;
	border-radius: 15px;
}

#BlocksGame{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 490px) {
	#header{
		font-size: 150%;
	}
}