@model ToTheRescueWebApplication.Models.OptionsModel
@{
    ViewBag.Title = "Options";
    Layout = "~/Views/Shared/_OptionsLayout.cshtml";

    String redirect = @HttpContext.Current.Request.UrlReferrer.AbsolutePath;
}
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<html id="html">
<body id="OptionsBody">
    <h2>Options for @Model.profileName</h2>
    <section class="form" id="loginForm">
        <h5 id="emailText"> Please enter your email to access Options:</h5>
        @if (@HttpContext.Current.Request.UrlReferrer.AbsolutePath == "/Options/Options")
        {
            <h5 id="emailText" style="color:red;"> Wrong Email Entered. Try Again.</h5>
        }

        <input type="text" , id="emailTextBox" />
        <input type="submit" class="Buttons" value="Continue" id="CheckEmail" onclick="CheckEmail()" />
        <br />
        <br />
        <a href="/MainMenu/MainMenu" style=""><p class="link" style=""><img src="~/Images/Back.png" class="link_image" />Back to Main Menu</p></a>
        <br />
    </section>
</body>
</html>

@*use jquery*@
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
            function CheckEmail() {
                var enteredEmail = document.getElementById("emailTextBox").value;
                //this regular expression checks to see if there
                //is at least one character of non whitespace in the entered email
                if (/\S/.test(enteredEmail) !== true || enteredEmail === '') {

                    //string is all white space, set it to "error" so an error message is displayed
                    enteredEmail = "error";
                }

                route = '/options/options/';
                route = route.concat(enteredEmail);
                route = route.concat('/');

                //Call the ClickedDelete function in the profile controller
                //to delete the selected profile out of the database
                window.location.href = route;
            }
</script>