@{
    Layout = "~/Views/Shared/_OptionsLayout.cshtml";
    ViewBag.Title = "Page Not Found";
}
<style>
    body {
        border-style: solid;
        border-width: 10px;
        border-color: orange;
        max-width: 100%;
        max-height: 95%;
    }
    h1 {
        text-align: center;
        margin-top: 10%;
    }
    img {
        display: block;
        margin: auto;
        width: 15%;
    }
</style>

<h1>Oops...Page Not Found</h1>
<img src="~/Images/sad_puppy.png" />
