#container {
    width: 1000px;
    height: 750px;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: all 500ms ease-in-out !important;
    transition: all 500ms ease-in-out !important;
    position: absolute;
    background: #808080;
}

#BlocksGame {
  position:absolute;
  width: 100%;
  left:20px;
  top:20px;
  right:20px;
  bottom:20px;
}

#cat {
    position: absolute;
    top: 420px;
    left: 2px;
}

#word1 {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: .4;
}

#word2 {
    position: absolute;
    top: 20px;
    left: 135px;
    opacity: .4;
}

#word3 {
    position: absolute;
    top: 20px;
    left: 250px;
    opacity: .4;
}

#word4 {
    position: absolute;
    top: 20px;
    left: 365px;
    opacity: .4;
}

#word5 {
    position: absolute;
    top: 20px;
    left: 480px;
    opacity: .4;
}

#word6 {
    position: absolute;
    top: 20px;
    left: 595px;
    opacity: .4;
}


#letter1 {
    position: absolute;
    left: 757px;
    top: 120px;
}

#letter2 {
    position: absolute;
    left: 518px;
    top: 182px;
}

#letter3 {
    position: absolute;
    left: 835px;
    top: 307px;
}

#letter4 {
    position: absolute;
    left: 651px;
    top: 356px;
}

#letter5 {
    position: absolute;
    left: 464px;
    top: 464px;
}


#letter6 {
    position: absolute;
    left: 833px;
    top: 545px;
}

#letter7 {
    position: absolute;
    left: 644px;
    top: 587px;
}

#matchLetter {
    position: absolute;
    left: 248px;
    top: 605px;
}