<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/EndOfGame.css" rel="stylesheet" type="text/css" />
    <title>EndofGame</title>
</head>
<body>
    <div> 
        You Won!
        @Html.ActionLink("Main Menu", "MainMenu", "MainMenu")
    </div>
</body>
</html>
