
@{
 //   Layout = "~/Views/Shared/_EndOfGame.cshtml";
 //   ViewBag.Title = "End of Game";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EndofGame</title>
</head>
<body>
    <div> 
        You Won!
        @Html.ActionLink("Main Menu", "MainMenu", "MainMenu")
    </div>
</body>
</html>
