<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/EndOfGame.css" rel="stylesheet" type="text/css" />
    <title>EndofGame</title>
</head>
<body>
    <div> 
        <img id="endOfGameGif" src="../../Images/endOfGame.gif"/>
        <button id="mainMenu" onclick="GoToMainMenu()">Main Menu</button>
    </div>
    <script>
        var button = document.getElementById("mainMenu");
        setTimeout(showButton, 5000);
        setTimeout(playAudio, 3000);
        //wait 5 seconds until the animation is done to reveal the back button
        function GoToMainMenu() {
            window.location.href = '/MainMenu/MainMenu';
        }
        function showButton() {
            button.style.visibility = "visible";
        }
        function playAudio() {
            var youWon = document.createElement('audio');
            youWon.setAttribute('src', '../../Audio/youWon.m4a');
            youWon.volume = .2;
            youWon.play();
            youWon.play();
        }
    </script>
</body>
</html>
