@{
    Layout = "~/Views/Shared/_MiniGameLayout.cshtml";
    ViewBag.Title = "Play MiniGame";
}
@model ToTheRescueWebApplication.Models.Play.MiniGameModel
@* copy everything from here to end copy. Paste it at the top of your view to include a transition *@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../../scripts/transition.js"></script>
<script type="text/javascript">
    transition('#f0ffff');
    $(window).load(function () {
        $("#content").fadeOut("slow");
    });
    function toggleFullScreen() {
        var doc = window.document;
        var docEl = doc.documentElement;

        var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
        var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

        if(!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
            requestFullScreen.call(docEl);
        }
        else {
            cancelFullScreen.call(doc);
        }
    }
</script>
@* end copy *@
<nav id="playMenu">
    <div class="icons">
        <ul class="buttons">
            <li id="back">
                <a href="~/Play/Play">
                    <img src="~/Images/Back3.png" class="icon" alt="Back">
                </a>
            </li>
            <li id="sanctuary">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="~/AnimalSanctuary/Sanctuary">
                        <img src="~/Images/Sanctuary2.png" class="icon" alt="Sanctuary">
                    </a>
                }
            </li>
            <li id="menu">
                <a href="~/MainMenu/MainMenu">
                    <img src="~/Images/Back2.png" class="icon" alt="Menu">
                </a>
            </li>
            <li id="options">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="fullscreen" onclick = "goFullscreen();">
                        <img src="~/Images/Options2.png" class="icon" alt="Options">
                    </a>
                }
            </li>
            @*
            <li id="fullscr">
                    <a onclick="toggleFullScreen();">
                        <img src="~/Images/Fullscreen2.png" class="icon" alt="Fullscreen">
                    </a>
            </li>*@
        </ul>
    </div>
</nav>
<div id="BlocksGame">
    @*Debounce funcion source*@
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    @*Where minigame script is executed*@
    <script src="~/scripts/blockjs_framework.js"></script>
    @*Drag and drop*@
    <script src="~/scripts/DragDropTouch.js"></script>
    @*Text To Speech.*@
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    @*use jquery*@
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    @* web audio api that allows mobile audio *@
    <script type="text/javascript" src="~/scripts/WebAudioApi.js"></script>

    <script id="minigameScript" src=@Model.MiniGame difficulty=@Model.Difficulty toggleSound=@Model.ToggleSound toggleMusic=@Model.ToggleMusic></script>
  
    <input type="text" id="score" style="display:none" />   @*score from minigame saved in value for tag*@

    @*Pop up box displayed when minigame is over*@
    <div id="gameOver">
        Good Job! :)
        <br>
        <img src="~/Images/gameOver.png" id="greatJob" alt="Great Job!">
        <button id="closePraise">Done</button>
    </div>
</div>
@section scripts {
    <script>
        //when user is done playing minigame, display end of game message and update values
        function EndofGame() {
            var score = document.getElementById('score').value //score returned by minigame
            $.ajax({
                url: '@Url.Action("FinishMiniGame", "Play")',   //update values after minigame in controller
                data: {'score' : score, 'miniGameID' : @Model.MiniGameID, 'categoryID' : @Model.CategoryID },
                type: 'POST',
                success: function displayGameOver() {   //display game over dialog
                    $('#gameOver').show();
                }
            });
        }
        //when animal saved div close, go to new map
        $("#closePraise").click(function () {
            window.location.href = '/Play/Play/';
        });
    </script>
}