@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
    ViewBag.Title = "Play";
}

<audio controls loop id="playMusic" source src="@Url.Action("LoadAudio", new { @mapID = 4 })" autoplay hidden="hidden">
</audio>
<script>
    var vid = document.getElementById("playMusic");
    vid.volume = 0.05;
</script>
<nav id="playMenu">
    <div class="profileInfo">
        <label id="name">Name: Stephanie Derosier</label>
        <label id="level">Grade Level: Pre-Kindergarten</label>
        <label id="subject">Subject: Reading</label>
    </div>
    <div class="icons">
        <ul class="buttons">
            <li id="play">
                <img src="~/Images/playIcon.png" class="icon" alt="Play">
                <label class="iconLbls " id="playLbl">Play</label>
            </li>
            <li id="sanctuary">
                <a href="../AnimalSanctuary/Sanctuary">
                    <img src="~/Images/sanctuaryIcon.png" class="icon" alt="Sanctuary">
                </a>
                <label class="iconLbls "id="sanctuaryLbl">Sanctuary</label>
            </li>
            <li id="menu">
                <a href="../MainMenu/MainMenu">
                    <img src="~/Images/menuIcon.png" class="icon" alt="Menu">
                </a>
                <label class="iconLbls " id="menuLbl">Menu</label>
            </li>
            <li id="options">
                <a href="../Options/Options">
                    <img src="~/Images/optionsIcon.png" class="icon" alt="Options">
                </a>
                <label class="iconLbls " id="optionsLbl">Options</label>
            </li>
        </ul>
    </div>
</nav>
<div class="mapContainer">
    <img src="@Url.Action("ShowMapImage", new { @mapID = 4 })" id="mapImg" alt="Map">
    <img src="@Url.Action("ShowAnimalImage", new { @profileID = 5 })" id="animalImg" alt="Animal">
    @*<img src="@Url.Action("ShowAvatarImage", new { @profileID = 5 })" id="avatarImg" alt="Profile Avatar">*@
</div>
