@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
    ViewBag.Title = "Play";
}

<nav id="playMenu">
    <div class="icons">
        <ul>
            <li id="play">
                <img src="~/Images/playIcon.png" class="icon" alt="Play">
            </li>
            <li id="sanctuary">
                <a href="../AnimalSanctuary/Sanctuary">
                    <img src="~/Images/sanctuaryIcon.png" class="icon" alt="Sanctuary">
                </a>
            </li>
            <li id="menu">
                <a href="../MainMenu/MainMenu">
                    <img src="~/Images/menuIcon.png" class="icon" alt="Menu">
                </a>
            </li>
            <li id="options">
                <a href="../Options/Options">
                    <img src="~/Images/optionsIcon.png" class="icon" alt="Options">
                </a>
            </li>
        </ul>
    </div>
</nav>
<main id="map">

</main>




