@model ToTheRescueWebApplication.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title</h2>
<section class="form">
    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="validation">
            @Html.AntiForgeryToken()  
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        <div class="form-group" id="forgotPassword">
            <div class="loginFields">
                <label>Email Address</label>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <br />
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    }
</section>