@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<section class="form">
    <div>
        <p>
            Your password has been reset.
        </p>
        <p class="link">
            @Html.ActionLink("Login", "Login", "Login")
        </p>
    </div>
</section>