html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    background: #43c161;
    margin: auto;
    width: 100%;
    height: 100%;
}

#ChooseProfileheader {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px black;
    text-decoration: solid;
}

#ProfilesTable {
    width: 80%;
    margin: auto;
    margin-left: 10%;
}

td {
    width: auto;
    border: 3px solid black;
    border-radius: 2%;
    background-color: #2d8641;
}

.ProfiledDiv {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: white;
    margin:auto;
}

#nameContainer {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    padding-bottom: 5%;
}

#avatarContainer {
    position: relative;
    text-align: center;
}

.ProfiledDiv #Avatar {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}

.Buttons {
    border-radius: 20px;
    background-color: white;
    font-size: 15px;
    padding: 10px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: black;
}

    .Buttons:hover {
        color: white;
        background-color: orange;
    }

#ProfileNames {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#emailError {
    color: orange;
    visibility: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 25px;
    float: left;
    position: relative;
    left: 100px;
    display: none;
}

#buttonContainer {
    width: 100%;
}

#DeleteProfileButton {
    position: absolute;
    left: 11%;
    visibility: hidden;
}

#CreateNewProfileButton {
    position: absolute;
    left: 45%;
    visibility: visible;
}

#PlayButton {
    position: absolute;
    left: 83%;
    visibility: hidden;
}

#CancelButton {
    visibility: hidden;
    position: relative;
    left: 6%;
    padding: 5px 5px;
    margin-top: 5px;
}

#DeleteProfileSubmit {
    visibility: hidden;
    position: relative;
    left: 6%;
    padding: 5px 5px;
    margin-top: 5px;
}

#emailTextBox {
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    width: 225px;
    height: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border-color: black;
    margin-top: 5px;
}

#emailText {
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 20px;
}

.DeleteSection {
    position: relative;
    left: 6%;
}

@media only screen and (max-width: 1000px) {
    body {
        width: 100%;
    }

    #ChooseProfileheader {
        width: 100%;
    }

    .ProfiledDiv #ProfileNames {
        font-size: 90%;
    }

    .Buttons {
        font-size: 10px;
        padding: 10px 10px;
    }

    #emailError {
        left: 0%;
        width: 100%;
        font-size: 125%;
    }

    #emailTextBox {
        padding: 0px;
        margin: 0px;
        height: 20px;
        width: 200px;
        font-size: 15px;
    }

    #emailText {
        font-size: 80%;
        padding-top: 5%;
    }
}

@media only screen and (max-width: 620px) {

    #emailTextBox {
        padding: 0px;
        margin: 0px;
        height: 15px;
        width: 150px;
        font-size: 15px;
    }

    #ChooseProfileheader {
        font-size: 20px;
        text-shadow: 2px 2px black;
    }

    .ProfiledDiv #Avatar {
        height: 40%;
        width: 75%;
    }

    .ProfiledDiv #ProfileNames {
        font-size: 60%;
    }


    .Buttons {
        font-size: 7px;
        padding: 5px 5px;
    }

    td {
        border: 2px solid black;
    }
}

@media only screen and (max-width: 450px) {
    #emailTextBox {
        height: 12px;
        width: 100px;
        font-size: 11px;
    }

    #emailText {
        font-size: 60%;
        padding-top: 5%;
    }

    .ProfiledDiv #ProfileNames {
        font-size: 15%;
    }

    td {
        border: 1px solid black;
    }

    #emailTextBox{
        font-size: 50%;
    }
}
