#leftBorder, #rightBorder, #topBorder, #bottomBorder{
    background: forestgreen;
    position: fixed;
}

#leftBorder, #rightBorder{
    top: 0;
    bottom: 0;
    width: 15px;
}

#leftBorder {left: 0;}
#rightBorder {right: 0;}

#topBorder, #bottomBorder{
    left: 0; 
    right: 0;

    height: 15px;
}

#topBorder {top: 0;}
#bottomBorder {bottom: 0;}

body {
    background: #43c161;
}

#ChooseProfileheader {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px black;
    text-decoration: solid;
}

#ProfilesTable {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.ProfiledDiv {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

    .ProfiledDiv #ProfileNames {
        width: auto;
        height: auto;
    }

    .ProfiledDiv #Avatar {
        padding: 10px;
        width: auto;
        height: auto;
    }

.Buttons {
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    padding: 15px 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: black;
}

    .Buttons:hover {
        color: white;
        background-color: orange;
    }

#ProfileNames {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#emailError {
    color: orange;
    visibility: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 25px;
    float: left;
    position: relative;
    left: 100px;
}

#DeleteProfileButton {
    position: relative;
    left: 13%;
    visibility: hidden;
}

#CreateNewPorifleButton {
    position: relative;
    left: 35%;
    visibility: visible;
}

#PlayButton {
    position: relative;
    left: 55%;
    visibility: hidden;
}

#CancelButton {
    visibility: hidden;
    position: relative;
    left: 6%;
    font-size: 20px;
    padding: 10px 10px;
}

#DeleteProfileSubmit {
    visibility: hidden;
    position: relative;
    left: 6%;
    padding: 10px 10px;
}

#emailTextBox {
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    width: 250px;
    height: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border-color: black;
}

#emailText {
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 25px;
}

.DeleteSection {
    position: relative;
    left: 6%;
}

/*for phones*/
@media only screen and (max-width: 1200px) {
    body {
        width: 100%;
    }

    #ChooseProfileheader {
        width: 100%;
    }

    .ProfiledDiv {
        display: table-cell;
    }

        .ProfiledDiv #Avatar {
            width: 75%;
            height: 75%;
        }

        .ProfiledDiv #ProfileNames {
            font-size: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .Buttons {
        font-size: 65%;
        padding: 10px 10px;
    }

    #emailError {
        left: 0%;
        width: 100%;
        font-size: 125%;
    }

    #CancelButton {
        left: 0%;
        font-size: 80%;
    }

    #DeleteProfileSubmit {
        left: 0%;
        padding: 10px 10px;
    }

    #emailTextBox {
        padding: 0px;
        margin: 0px;
        left: 0%;
        height: 20px;
        width: 200px;
        font-size: 15px;
    }

    #emailText {
        font-size: 80%;
        left: 0%;
        padding-top: 5%;
    }
}

/*have to special stuff for the buttons to scale down when the screen gets really small*/
@media only screen and (max-width: 620px) {
    #DeleteProfileButton {
        left: 0%;
    }

    #CreateNewPorifleButton {
        left: 10%;
    }

    #PlayButton {
        left: 15%;
    }
}
