html{
    overflow-x: hidden
}

body {
    background: #5b99d3;
    margin: auto;
}

#Header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: white;
    margin: 0;
    padding: 0;
}

#emptyNameError {
    position: relative;
    left: 15.5%;
    color: white;
    visibility: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: none;
    margin: 0;
}

#tooLongNameError {
    position: relative;
    left: 15.5%;
    color: white;
    visibility: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: none;
    margin: 0;
}

#EnterProfileNameText {
    position: relative;
    left: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: white;
    margin: 0.5%;
}

#ProfileNameText {
    position: relative;
    left: 15%;
    width: 200px;
    height: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border-color: black;
    margin: 0.5%;
}

#ChooseAvatarText {
    position: relative;
    left: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: white;
    margin: 0.5%;
}

#AvatarsTable {
    width: 80%;
    margin: auto;
    margin-left: 15%;
}

.AvatarDiv {
    width: 100%;
    height: 100%;
    display: table-cell;
}

img {
    width: auto;
    width: 50%;
    height: 50%;
    border: medium solid transparent;
}

#CreateProfileButton {
    visibility: hidden;
    margin-left: 3%;
}

#BackButton {
    position: relative;
    margin-left: 3%;
}

.Buttons {
    border-radius: 20px;
    background-color: white;
    font-size: 18px;
    padding: 8px 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: black;
    position: relative;
    left: 12%;
    margin-top: 5px;
}

    .Buttons:hover {
        color: white;
        background-color: #603b9b;
    }

@media only screen and (max-width: 956px) {
    #Header{
         width: 100%;
         font-size: 35px;
    }

    body {
        width: 100%;
    }

    #emptyNameError {
        font-size: 10px;
    }

    #tooLongNameError {
        font-size: 10px;
    }

    .Buttons {
        font-size: 65%;
    }
}

@media only screen and (max-width: 550px) {
    html{
         overflow-x: hidden;
    }

    #Header{
        font-size: 25px;
    }

    #EnterProfileNameText{
        font-size: 15px;
    }

    #ChooseAvatarText{
        font-size: 15px;
    }

    img{
        height: 40%;
        width: 75%;
    }

        #emptyNameError {
        left: 0%;
    }

    #tooLongNameError {
        left: 0%;
    }

    #EnterProfileNameText {
        left: 0%;
    }

    #ProfileNameText {
        left: 0%;
    }

    #ChooseAvatarText {
        left: 0%;
    }

    .Buttons {
        left: 0%;
    }
    #Header{
         left: 0%;
    }
}
