html {
    background-color: lightcyan;
    height: 100%;
}
body {
    background-image: url("../Images/mainmenu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 300px;
    min-height: 550px;
    background-position-x: center;
    background-size: 100% 100%;
    height: 100%;
    border: inset;
}
#mainMenuNav {
    width: 100%;
    text-align: center;
}
#navLinks {
    display: inline-block;
    list-style: none;
    padding: 10px 10px;
    width: 100%;
    text-align: center;
}
#navLinks li {
   padding: 2px 0;
}
#navLinks li:first-child {
   padding-top: 0;
}
#navLinks li a {
   text-decoration: none;
   color: dimgrey;
   text-shadow: 2px 2px #000;
   font-size: 25px;
   text-align: center;
   font-family: Comic Sans MS, cursive, sans-serif;
}
#navLinks li:hover a {
   color: darkblue;
   font-size: 30px;
}
h2 {
    color: darkblue;
    text-shadow: 2px 2px #000;
    font-size: 40px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: Comic Sans MS, cursive, sans-serif;
}
@media only screen and (min-width: 500px) {
    body {
    background-size: 100% 100%;
    height: 100%;
}
    h2 {
        font-size: 75px;
    }
    #navLinks li a {
        font-size: 35px;
    }
    #navLinks li:hover a {
        color: darkblue;
        font-size: 45px;
    }
}
