html {
    height: 100%;
    background-color: forestgreen;
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    min-width: 400px;
    min-height: 400px;
}

.form {
    background-color: black;
    opacity: .8;
    width: 80%;
    min-width: 125px;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    padding-top: 1px;
    border-radius: 25px;
    margin-top: -15px;
}

h2 {
    font-size: 30px;
    text-shadow: 4px 4px darkgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orangered;
    text-align: center;
    margin-top: -15px;
}


div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: floralwhite;
    text-shadow: 1px 1px #000;
}

input {
    text-align: center;
    padding: 20px 75px;
    width: 200px;
    background-color: #f6f6f6;
    opacity: 0.8;
    color: black;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3px 0;
    margin: 3px 0;
    border-radius: 25px;
}

.submit {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    color: floralwhite;
    text-shadow: 1px 1px #000;
    border-radius: 25px;
    border-style: outset;
    border-color: black;
    height: 60px;
    background-color: forestgreen;
    opacity: 0.9;
}

.link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 200px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    overflow: visible;
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    color: floralwhite;
    text-shadow: 1px 1px #000;
    border-radius: 25px;
    border-style: outset;
    border-color: black;
    
    height: 30px;
    
    background-color: darkslateblue;
    opacity: 0.9;
}

a {
    color: floralwhite;
    text-shadow: 1px 1px #000;
    text-decoration: none;
}

p:hover {
    color: orange;
}

Text {
    margin: 0 0 0 50px;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 15px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top, #bottom {
    left: 0;
    right: 0;
    height: 15px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

.link_image {
    height:30px;
    vertical-align: middle;
}

.boxes {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.checkbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.labels { 
    text-align: center;
    min-width:250px;
    display: inline-block;   
    padding-right: 5px;
}

@media only screen and (min-width: 560px) {
    h2 {
        font-size: 35px;
    }
}
@media only screen and (min-width: 560px) {
    .form {
    min-width: 320px;
    max-width: 500px;
    padding: 15px 0 10px 0;
    bottom: 30px;
    }
    h2 {
    font-size: 50px;
    }
    .link {
    width: 300px;
    font-size: 24px;    
    height: 50px;
    }
    input {
        font-size: 18px;
    }
    .link_image {
    height:50px;
    }
    .labels { 
    float: left;
    min-width:250px;
    padding-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: right;
    }
    .boxes {
        float: left;
    } 
    .checkbox {
    margin: 2px 0px;
    min-width: 300px;
    float: left;
    margin-left: -145px;
    }
    button {
        margin-top: 10px;
    }
}
@media only screen and (min-width: 900px) {
    #top, #bottom, #left, #right {
        background: darkgreen;
        position: fixed;
    }
    h2 {
    margin-top: 20px;
    }
}