html{
    background-color: darkblue;
    min-width: 300px;
    min-height: 260px;
    position: absolute;
    width: 100%;
    height: 100%;
    touch-action: none; /*prevents page swiping for touch*/
}
body {  
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}
main#map {
    background-color: lightblue;
    width: 70%;
    height: 60%;
}
nav#playMenu {
    background-color: darkgreen;
    width: 10%;
    height: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    border-radius: 25px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
div.profileInfo {
    background-color: darkgreen;
    width: 100%;
    height: 15%;

    border-radius: 25px;
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 0px
    ;
}
div.profileInfo label {

    top: 5%;
    font-size: 10px;
    color: white;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
div.profileInfo label#name {
    float: left;
    position: fixed;
    left: 1%;
}
div.profileInfo label#level {
    float: left;
    position: fixed;
    left: 32%;
}
div.profileInfo label#subject {
    position: fixed;
    left: 68%;
}
nav#playMenu ul { 
    list-style-type: none; 
}
nav#playMenu li#options { 
    position:fixed;
    bottom: 28%;
}
nav#playMenu li#menu { 
    position:fixed;
    bottom: 46%;
}
nav#playMenu li#sanctuary {
    position: fixed;
    bottom: 64%;
}

nav#playMenu li#play { 
    position:fixed;
    bottom: 82%;
}

nav#playMenu li#back { 
    position:fixed;
    bottom: 82%;
}

nav#playMenu li#fullscr { 
    position:fixed;
    bottom: 10%;
}
.icon {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    Width:80%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    overflow: visible;
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    color: floralwhite;
    text-shadow: 1px 1px #000;
    border-radius: 25px;
    border-style: outset;
    border-color: black;
    
    background-color: darkslateblue;
    opacity: 0.9;
}
.icon:hover {
    background-color: hotpink;
}

#mapCont{
    width: 100%;
    height: 100%;
    position: absolute;
}
#container{
    position: absolute;

    width: 90%;
    height: 85%;
    top: 15%;
    left: 0px;  
    bottom: 0px;
}

#mapImg{
   border-radius: 25px 0px 25px 0px;
   width: 100%;
   height: 100%;
}

.mapContainer #animalImg {
    position:absolute;
    width: 5.5%;
    height: 12%;
    z-index:2;
}
.mapContainer #avatarImg {
    position:absolute;
    width: 6%;
    height: 12%;
    z-index: 2;
}
#animalSaved {
    position:relative;
    left: 30%;
    margin-top: 10%;
    width: 40%;
    height: 50%;  
    background-color: darkgreen;
    z-index: 3;
    border-radius: 25px;
}
#praise {
    text-align: center;
    color: lightblue;
    text-shadow: 1px 1px #000;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#savedAnimalImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 20%;
    height: 30%;
}

#gameOver {
    display: none;
    width: 40%;
    height: 50%;
    background-color: darkgreen;
    position: absolute;
    z-index: 999;
    top: 20%;
    left: 35%;
    text-align: center;
    color: white;
    border-radius: 35px;
    font-size: 200%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    min-height: 275px;
    min-width: 180px;
}

#greatJob {
    width: 30%;
    height: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

#closePraise {
    width: 20%;
    height: 10%;
    min-width: 60px;
    min-height: 20px;
    background-color: lightblue;
    color: darkblue;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 30px;
    display: block;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 50%;
}

#closePraise:hover {
    background-color: lightpink;
    font-size: 60%;
}

@media only screen and (max-width: 800px) {
    #gameOver {
        font-size: 150%;
        min-height: 200px;
    }
}

@media only screen and (max-width: 500px) {
    #gameOver {
        left: 25%;
    }
}

@media only screen and (max-width: 300px) {
    #gameOver {
        left: 20%;
    }
}

    
@media only screen and (min-width: 540px) {
    .icon {
        margin-left: -5px;
    }
}
@media only screen and (min-width: 620px) {
    div.profileInfo label {
        font-size: 14px;
    }

    div.profileInfo label#name {
        left: 3%;
    }

    div.profileInfo label#level {
        left: 35%;
    }

    div.profileInfo label#subject {
        left: 70%;
    }

    .icon {
        margin-left: -9px;
    }

    #closePraise {
        font-size: 60%;
    }

    #closePraise:hover {
        font-size: 70%;
    }

}
/*When screen is 1080px or larger, apply this CSS*/
@media only screen and (min-width: 1080px) {
    div.profileInfo label {
        font-size: 24px;
    }
    .iconLbls {
        font-size: 16px;
    }
    #miniGameDone {
    left: 85%;
    }
}
