body {
    background-image: url("../Images/landscape.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 650px;
    min-height: 550px;
    position: relative;
    background-position-x: center;
    background-size: 100% 100%;
    height: 100%;
    width: 85%;
    border: inset;
    background-color:darkgreen;
}
.Buttons {
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    position: absolute;
    top: 105px;
    left: 2px;
    padding: 10px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: black;
}

.Buttons:hover {
    color: white;
    background-color: orange;
}

h2 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orangered;
    text-align: center;
}