html {
    height: 100%;
    width: 100%;
    background-color: #94618E;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #94618E;
    /* new body attribute in play CSS sets these two values so I am over writing the values here */
    min-height: 0px;
    min-width: 0px;
}

#BlocksGame {
    height: 100%;
    width: 90%;
}

#header {
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%;
    margin-top: 0;
}

#visualContainer {
    width: 95%;
    height: 25%;
    position: relative;
    z-index: 1;
    visibility: hidden;
    margin: auto;
}

.helpers {
    height: 100%;
    vertical-align: middle;
    visibility: visible;
}

.appleImgs {
    height: 30%;
    width: 5%;
    vertical-align: middle;
    visibility: hidden;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#imgMinus {
    width: 13%;
    height: 100%;
    float: left;
    margin-left: 0%;
    text-align: center;
    color: white;
}

#numOneImgContainer {
    width: 43.5%;
    height: 100%;
    margin-left: 0%;
    float: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#numTwoImgContainer {
    width: 43.5%;
    height: 100%;
    float: left;
    margin-left: 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#questionContainer {
    width: 90%;
    height: 25%;
    background-color: #49274A;
    position: relative;
    z-index: 1;
    border: 2px solid;
    border-radius: 25px;
    margin: auto;
}

.question {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#sub1 {
    width: 13%;
    height: 100%;
    margin-left: 7%;
    float: left;
    text-align: center;
    color: white;
}

#minus {
    width: 13%;
    height: 100%;
    float: left;
    margin-left: 5%;
    text-align: center;
    color: white;
    visibility: hidden;
}

#sub2 {
    width: 13%;
    height: 100%;
    float: left;
    margin-left: 5%;
    text-align: center;
    color: white;
}

#equal {
    width: 13%;
    height: 100%;
    float: left;
    margin-left: 5%;
    text-align: center;
    color: white;
    visibility: hidden;
}

#question {
    width: 13%;
    height: 100%;
    float: left;
    margin-left: 5%;
    text-align: center;
    color: white;
    visibility: hidden;
}

#answerContainer {
    width: 100%;
    height: 25%;
    position: relative;
    z-index: 1;
}

.answer {
    border: 2px solid black;
    border-radius: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #49274A;
}

#answer1 {
    width: 13%;
    height: 100%;
    margin-left: 14%;
    float: left;
    text-align: center;
    color: white;
}

#answer2 {
    width: 13%;
    height: 100%;
    float: left;
    margin-left: 5%;
    text-align: center;
    color: white;
}

#answer3 {
    width: 13%;
    height: 100%;
    float: left;
    margin-left: 5%;
    text-align: center;
    color: white;
}

#answer4 {
    width: 13%;
    height: 100%;
    float: left;
    margin-left: 5%;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*my own end of game div*/
#gameOver {
    visibility: hidden;
}

#endGameDiv {
    display: none;
    width: 30%;
    height: 45%;
    background-color: green;
    position: absolute;
    z-index: 100;
    top: 20%;
    left: 35%;
    text-align: center;
    color: white;
    border-radius: 35px;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 200px;
    min-width: 180px;
}

#endGameDivPic {
    width: 30%;
    height: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

#doneButton {
    width: 20%;
    height: 10%;
    min-width: 60px;
    min-height: 20px;
    background-color: lightblue;
    color: darkblue;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 30px;
    display: block;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 50%;
}

    #doneButton:hover {
        background-color: lightpink;
        font-size: 55%;
    }

@media only screen and (max-width: 860px) {
    #header {
        font-size: 200%;
    }

    html {
        overflow: visible;
    }
}

@media only screen and (max-width: 800px) {
    #endGameDiv {
        font-size: 150%;
    }
}

@media only screen and (max-width: 300px) {
    #endGameDiv {
        left: 20%;
    }
}
