html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url(../img/blackBoard.jpg);
    background-size: cover;
    /* new body attribute in play CSS sets these two values so I am over writing the values here */
    min-height: 0px;
    min-width: 0px;
}

#header {
    margin: 0;
    color: white;
    font-family: Chalkboard, ‘Comic Sans’, sans-serif;
    cursor: default;
}

#dropAreaContainer {
    width: 100%;
    height: 60%;
    position: relative;
    visibility: hidden;
    cursor: default;
}

.dropRows {
    width: 100%;
    height: 25%;
}

.rowDropAreas {
    position: relative;
    width: 5%;
    height: 70%;
    margin-top: 1%;
    margin-left: 1.5%;
    float: left;
    background-color: rgba(0, 0, 0, 0.25);
    border-style: dashed;
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    font-family: Chalkboard, ‘Comic Sans’, sans-serif;
}

#aDrop {
    margin-left: 32%;
}

#gDrop {
    margin-left: 25.5%;
}

#oDrop {
    margin-left: 25.5%;
}

#wDrop {
    margin-left: 38.5%;
}

#dragAreaContainer {
    position: relative;
    width: 100%;
    height: 35%;
    visibility: hidden;
    cursor: default;
}

.dragRows {
    width: 100%;
    height: 50%;
}

.dragRow1 {
    position: relative;
    width: 5.5%;
    height: 65%;
    margin-top: 1.5%;
    margin-left: 2%;
    float: left;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-family: Chalkboard, ‘Comic Sans’, sans-serif;
}

.dragRow2 {
    position: relative;
    width: 5.5%;
    height: 65%;
    margin-top: -1.5%;
    margin-left: 2%;
    float: left;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-family: Chalkboard, ‘Comic Sans’, sans-serif;
}

#BlocksGame {
    height: 100%;
    width: 90%;
}

/*my own end of game div*/
#gameOver{
    visibility: hidden;
}

#endGameDiv{
    display:none;
	width: 30%;
	height: 45%;
	background-color: green;
	position: absolute;
	z-index: 100;
	top: 20%;
	left: 35%;
	text-align: center;
	color: white;
	border-radius: 35px;
	font-size: 200%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	min-height: 200px;
	min-width: 180px;
}

#endGameDivPic{
	width: 30%;
	height: 50%;
	margin-left: 10%;
	margin-top: 5%;
}

#doneButton{
	width: 20%;
    height: 10%;
    min-width: 60px;
    min-height: 20px;
    background-color: lightblue;
    color: darkblue;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 30px;
    display:block;
	padding-bottom: 25px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    font-size: 50%;
}

#doneButton:hover{
	background-color: lightpink;
	font-size: 55%;
}

@media only screen and (max-width: 800px) {
	#endGameDiv{
		font-size: 150%;
	}
}

@media only screen and (max-width: 300px) {
	#endGameDiv{
		left: 20%;
	}
}